@model DALLayer.Patient

@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Patient</h2>

@using (Html.BeginForm("AddPatient", "Admins", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Name)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Gender)
                            </td>
                            <td>
                                <label>
                                    @Html.RadioButtonFor(m => m.Gender, "Male") Male
                                </label>&nbsp;&nbsp;
                                <label>
                                    @Html.RadioButtonFor(m => m.Gender, "Female") Female
                                </label>
                                <br />
                                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Email)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Password)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.DOB)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Phone)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Address)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <center>
        <div class="form-group mt-4">
            <input type="submit" value="Create" class="btn btn-success" />
            <a href="@Url.Action("PatientList", "Admins")" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </center>
}

