@model IEnumerable<DALLayer.Pharmacist>

@{
    ViewBag.Title = "PharmacistList";
    Layout = "~/Views/Shared/AdminsLayout/_AdminPharmacistLayout.cshtml";
}

<h2>Pharmacist List</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            
                <tr>
                    <th style="width:12%;">
                        Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th style="width:12%;">
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>Action</th>
                </tr>
                </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td contenteditable="true">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>

                        @Html.ActionLink("Delete", "DeletePharmacist", new { id = item.PharmacistId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
            </table>
    </div>