@model IEnumerable<DALLayer.Appointment>

@{
    ViewBag.Title = "ViewAppointment";
    Layout = "~/Views/Shared/_FrontOfficeLayout.cshtml";
}


@using (Html.BeginForm("ViewAppointment", "FrontOfficeExecutives", FormMethod.Post, new { onsubmit = "return validateForm();" }))
{
<fieldset>
    <legend>View Appoinments for Patient</legend>
    <div class="form-group row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Search Patient </span>
            </div>
            <input type="text" class="form-control" placeholder="Enter Patient Name" id="PatientSearch" name="PatientSearch" aria-label="Patient" aria-describedby="basic-addon1" required>
            <div class="input-group-append">
                <button class="btn btn-success ml-1" type="submit" id="button-addon2">Search</button>
            </div>
            <div class="input-group-append">
                <a class="btn btn-primary ml-1" href="" type="button" id="button-addon2">View All Appoinments</a>
            </div>
        </div>
    </div>
</fieldset>
}


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Appointment Id</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Slot</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
                <th colspan="2" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.AppointmentId)</td>
                <td>@Html.DisplayFor(modelItem => item.Doctor.DoctorName)</td>
                <td>@Html.DisplayFor(modelItem => item.Patient.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDateTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Doctor.Timings)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>
                    @using (Html.BeginForm("ApproveAppoint", "FrontOfficeExecutives", FormMethod.Post))
                 {
                    @Html.HiddenFor(modelItem => item.AppointmentId)
                    <button class="btn btn-primary" type="submit" name="id" value=@item.AppointmentId>Approve</button>
                 }
                </td>
                <td>
                    @using (Html.BeginForm("RejectAppoint", "FrontOfficeExecutives", FormMethod.Post))
                 {
                    @Html.HiddenFor(modelItem => item.AppointmentId)
                    <button class="btn btn-danger" type="submit" name="id" value=@item.AppointmentId>Reject</button>
                 }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>



