<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CAS</title>
    <!-- Include necessary stylesheets and scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Min is CSS file minified, means unneccessary charecters, white saces and comments are removed, it helps impovesa the loading time time of webpage
            by reducing the amoun of data that needs to be transfered over the network -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- icon font and toolkit used for adding vector icons and social logos to Websites Font icons are scalable and customized using CSS-->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">

    @Styles.Render("~/Content/css/LayoutStyle")
    @*@Styles.Render is a Razor syntax helper used to include style sheets in your views.*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/BackButtonDisable")

    <style>
        .navbar-custom {
            background-color: black;
        }

            .navbar-custom .navbar-nav .nav-link {
                color: white;
            }
    </style>


</head>
<body>



    <nav class="navbar navbar-expand-sm navbar-custom fixed-top">
        <div class="container">
            <div class="logo"><img src="~/Scripts/icons/clinicals.png" style="width:50px;height:50px" ></div>
            <h3 style=" margin-left:1.5em;margin-top:15px">Clinical Automation System</h3>
            <!-- Button for mobile navigation -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navigation links moved to the main content area -->
            </div>
        </div>



        <!-- Navigation links placed here -->
        <ul class="nav">

            <li class="nav-item">@Html.ActionLink("Logout", "LogOut", "Home", new { area = "" }, new { @class = "btn btn-danger" })</li>
        </ul>

        <!-- Add your main content here -->

    </nav>
    <div class="row mt-lg-5">
           <!--row stands row and mt stands margin-top, Ig stands large, 5 is margin-top value-->
        <div class="col-3">
            <!--The grid system in Bootstrap is based on a 12-column layou -->
            <div class="main-container">
                <nav class="main-menu">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index")">
                                <img src="~/Scripts/icons/book.png" class="side_icon" />
                                <span class="nav-text">
                                    Book Appointment
                                </span>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>


                    <ul>
                        <li>
                            <a href="@Url.Action("MessageDoctor")">
                                <img src="~/Scripts/icons/chat.png" class="side_icon" />
                                <span class="nav-text">
                                    Message Doctor
                                </span>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>
                    <ul>
                        <li>

                            <a href="@Url.Action("ViewAppointments")">  <img src="~/Scripts/icons/list.png" class="side_icon" />Appointment List</a>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>
                    <ul>
                        <li>

                            <a href="@Url.Action("ViewMedicine")">  <img src="~/Scripts/icons/list.png" class="side_icon" />View Medicine</a>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>
                    <ul>
                        <li>

                            <a href="@Url.Action("ProfileChange")">  <img src="~/Scripts/icons/edit.png" class="side_icon" />Edit Profile</a>
                            </a>
                        </li>
                        <!-- Add other menu items as needed -->
                    </ul>
                </nav>

            </div>
        </div>
        <div class="col-8 mt-lg-5">
            @RenderBody()                <!--- is used to render the body of the view-->

        </div>
    </div>

</body>
</html>
